*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width:100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #5352ed;
}

/* login.css */
.preloader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .preloader {
    width: 50px;
    height: 50px;
  }
  

.login-container form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding:1.4rem;
    border-radius:10px;
    background-color: white;
}

.login-container form h1{
    font-weight:900;
    font-size:2rem;
}

.login-container form input{
    width:92%;
    padding:0.9rem 0.6rem;
    font-size:1.1rem;
    outline:none;
    text-align: left;
    background-color: #e6e8e8;
    border:none;
    border-radius:5px;
}

.login-container form button{
    width:100%;
    background-color: #5f27cd;
    color:white;
    padding:0.7rem;
    border:none;
    font-size:1.2rem;
    border-radius:4px;
}

.login-container form button:hover{
    cursor:pointer;
}

.login-container form .create_account{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}

.login-container form a{
    color:#5f27cd;
    text-decoration: none;
}

.login-container form span{
    color:#5f27cd;
}